.r_admin_body{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding-inline-start: 13rem;
}

.r_admin_side_nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 13rem;
    height: calc(100vh - 4.25rem);
    background-color: var(--bg-color);
    z-index: 98;
    border-inline-end: 1px solid var(--border-color);
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &_top{
        position: relative;
        display: block;
        width: 100%;

        &.flex_1{
            flex: 1;
        }

        ul{
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            gap: 0.75rem;
            width: 100%;

            li{
                display: block;
            }

            button{
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                padding: 0 0.75rem;
                border: none;
                font-size: 0.85rem;
                font-weight: 400;
                background-color: var(--bg-color);
                transition: all 0.3s ease;
                outline: none;
                cursor: pointer;
                border-radius: 0.5rem;
                height: 2.75rem;
                gap: 0.75rem;
                opacity: 0.75;

                i{
                    display: inline-flex;
                    position: relative;
                    font-size: 1rem;
                }

                &:hover, &.active_{
                    background-color: var(--bg-color-100);
                    opacity: 1;
                }
            }
        }
    }

}

.dashboard_{
    &~footer{
        margin-inline-start: auto;
        width: calc(100% - 13rem);
    }
}

.r_admin_banner{
    position: relative;
    display: block;
    width: 100%; 
    height: auto;
    padding-block: 2.5rem 5.5rem;
    background-color: var(--bg-color-300);
    border-bottom: 1px solid var(--border-color);

    &_wrapper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.25rem;
        flex-wrap: wrap;
    }
}

.r_admin_breadcrumb{
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 1.25rem;

    ul{
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--bg-color-100);
        padding: 0.35rem 0.75rem;
        border-radius: 0.5rem;

        li{
            display: block;
            position: relative;
            font-size: 0.85rem;
            padding-inline: 0.7rem;

            i{
                display: inline-flex;
                font-size: 0.8rem;
            }

            &:after{
                content: '/';
                position: absolute;
                top: 0;
                right: 0;
                transform: translateX(50%);
            }

            p,a{
                position: relative;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin: 0;
                font-size: 0.85rem;
            }

            a{
                color: var(--text-color);
                opacity: 0.65;
                &:hover{
                    color: var(--primary-color);
                    opacity: 1;
                }
            }

            &:last-child{
                padding-inline-end: 0;
                &:after{
                    display: none;
                }
            }

            &:first-child{
                padding-inline-start: 0;

                &>p{
                    opacity: 0.65;
                }
            }
        }
    }
}

.r_admin_page_title{
    position: relative;
    display: block;

    h1,p {
        position: relative;
        display: block;
        margin: 0; 
    }

    p{
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0.25em;

        span{
            opacity: 0.5;
            font-weight: 400;
        }
    }

    h1{
        font-size: 3rem;
        line-height: 1.5;
    }
}

.r_admin_section{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    margin-top: -2.65rem;
    padding-bottom: 1rem;
}

// Tabs

.r_admin_tab{
    position: relative;
    display: block;
    width: 100%;

    ul{
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.75rem;
        padding: 0;
        margin: 0;

        li{
            display: block;
        }

        button, a{
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            height: calc(2.65rem - 4px);
            background: transparent;
            border: none;
            transition: all 0.3s ease;
            outline: none;
            font-size: 0.95rem;
            padding-inline: 1.25rem;
            border-radius: 0.3rem;
            cursor: pointer;
            opacity: 0.35;
            color: var(--text-color);

            &:before{
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: var(--text-color);
                opacity: 0.5;
                transform: translateY(2px);
            }

            &.active_{
                opacity: 1;
                &:before{
                    content: '';
                }
            }

            &:hover{
                &:not(.active_){
                    background-color: var(--bg-color-100);
                }
            }
        }
    }
}